<a href="https://colab.research.google.com/github/SQuinn314/SQuinn314/blob/main/LUFactorization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# $LU$-Factorization

Given a square matrix $A$, we wish to find upper and lower triangular matrices $L$ and $U$ such that $A = LU$.

We will do this by performing a series of elementary operations on $A$ which transform it into an upper triangular matrix $U$.  These operations can be expressed as a sequence of elementary matrix multiplications.

In [2]:
from sympy import Matrix
from IPython.display import Math, display

A = Matrix(3,3, [1, 7, -2, 2, 23, 32, -3, -26, -11])
A

Matrix([
[ 1,   7,  -2],
[ 2,  23,  32],
[-3, -26, -11]])

Elementary Operation 1: Add -2 times Row One to Row Two.

In [5]:
E1 = Matrix([[1, 0, 0],
             [-2, 1, 0],
              [0, 0, 1]])
print("E1 is")
display(E1)
print("E1*A is")
display(E1*A)

E1 is

Matrix([
[ 1, 0, 0],
[-2, 1, 0],
[ 0, 0, 1]])

E1*A is

Matrix([
[ 1,   7,  -2],
[ 0,   9,  36],
[-3, -26, -11]])

Elementary Operation 2: Add 3 times Row One to Row Three.

In [7]:
E2 = Matrix([[1, 0, 0],
             [0, 1, 0],
              [3, 0, 1]])
print("E2 is")
display(E2)
print("E2*E1*A is")
display(E2*E1*A)

E2 is

Matrix([
[1, 0, 0],
[0, 1, 0],
[3, 0, 1]])

E2*E1*A is

Matrix([
[1,  7,  -2],
[0,  9,  36],
[0, -5, -17]])

Elementary Operation 3: Scale Row Two by 1/9.

In [8]:
E3 = Matrix([[1, 0, 0],
              [0, 1/9, 0],
              [0, 0, 1]])
print("E3 is")
display(E3)
print("E3*E2*E1*A is")
display(E3*E2*E1*A)

E3 is

Matrix([
[1,                 0, 0],
[0, 0.111111111111111, 0],
[0,                 0, 1]])

E3*E2*E1*A is

Matrix([
[1,   7,  -2],
[0, 1.0, 4.0],
[0,  -5, -17]])

Elementary Operation 4: Add 5 times Row Two to Row Three.

In [10]:
E4 = Matrix([[1, 0, 0],
              [0, 1, 0],
              [0, 5, 1]])
print("E4 is")
display(E4)
print("E4*E3*E2*E1*A is")
display(E4*E3*E2*E1*A)

E4 is

Matrix([
[1, 0, 0],
[0, 1, 0],
[0, 5, 1]])

E4*E3*E2*E1*A is

Matrix([
[1,   7,  -2],
[0, 1.0, 4.0],
[0,   0, 3.0]])

Elementary Operation 5: Scale Row Three by 1/3.

In [13]:
E5 = Matrix([[1, 0, 0],
              [0, 1, 0],
              [0, 0, 1/(3)]])
print("E5 is")
display(E5)
print("E5*E4*E3*E2*E1*A is")
display(E5*E4*E3*E2*E1*A)

E5 is

Matrix([
[1, 0,                 0],
[0, 1,                 0],
[0, 0, 0.333333333333333]])

E5*E4*E3*E2*E1*A is

Matrix([
[1,                    7,                -2],
[0,                  1.0,               4.0],
[0, 1.77635683940025e-15, 0.999999999999999]])

At this stage, we are done.  We have $A \sim U$, by a sequence of elementary operations.

Notice that the matrices $E_1, E_2, E_3, E_4, E_5$ are lower triangular (because they are working on elements below the diagonal of $A$).  Their product and inverses are also lower triangular.

$$L A = U$$

In [17]:
U = E5*E4*E3*E2*E1*A
L = E5 * E4 * E3 * E2 * E1
display(L)

Matrix([
[                 1,                 0,                 0],
[-0.222222222222222, 0.111111111111111,                 0],
[  0.62962962962963, 0.185185185185185, 0.333333333333333]])

But we want $$A = L^{-1} U$$

We can easily find the inverse with Python.

In [19]:
LInv = L.inv()
LInv

Matrix([
[   1,    0,   0],
[ 2.0,  9.0,   0],
[-3.0, -5.0, 3.0]])

In [22]:
# Getting latex for matrices A, LInv, U.
from sympy import print_latex
print_latex(A)
print_latex(LInv)
print_latex(U)

\left[\begin{matrix}1 & 7 & -2\\2 & 23 & 32\\-3 & -26 & -11\end{matrix}\right]
\left[\begin{matrix}1 & 0 & 0\\2.0 & 9.0 & 0\\-3.0 & -5.0 & 3.0\end{matrix}\right]
\left[\begin{matrix}1 & 7 & -2\\0 & 1.0 & 4.0\\0 & 1.77635683940025 \cdot 10^{-15} & 0.999999999999999\end{matrix}\right]

Hence, we have
$$ \left[\begin{matrix}1 & 7 & -2\\2 & 23 & 32\\-3 & -26 & -11\end{matrix}\right] =
\left[\begin{matrix}1 & 0 & 0\\2 & 9 & 0\\-3 & -5 & 3\end{matrix}\right]
\left[\begin{matrix}1 & 7 & -2\\0 & 1 & 4\\0 & 0 & 1 \end{matrix}\right] $$